server:
  port: 8080

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9080/realms/test

  cloud:
    gateway:
      server:
        webflux:
          routes:

            - id: auth-route
              uri: http://localhost:9080
              predicates:
                - Path=/api/auth/**
              filters:
                - StripPrefix=2

            - id: user-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/users/**

          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins:
                  - "http://localhost:5173"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowedHeaders: "*"
                allowCredentials: true
