server:
  port: 8080

spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9080/realms/test

  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      routes:

        # Route tới User Service
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/users/**

        # Login (forward tới Keycloak)
        - id: auth-login
          uri: http://localhost:9080
          predicates:
            - Path=/api/auth/login
          filters:
            - RewritePath=/api/auth/login, /realms/test/protocol/openid-connect/token

        # Refresh token
        - id: auth-refresh
          uri: http://localhost:9080
          predicates:
            - Path=/api/auth/refresh
          filters:
            - RewritePath=/api/auth/refresh, /realms/test/protocol/openid-connect/token
